﻿@page
@using ST.BL.Domain
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Spellen.Pages.AddSpel

@{
    Layout = "_Layout";
    var klasId = Model.KlasId;
    var gebruikerStellingen = Model.Input.GebruikerStellingen;

    var returnUrl = Url.Content(HttpContext.Request.GetEncodedUrl());
    returnUrl = $"~/{returnUrl.Substring(23)}";
}
<input type="text" hidden value="@Model.KlasId" name="KlasId">
<input type="text" hidden value="@Model.SpelId" name="SpelId">
<br>
@* TODO: Select Stellingen Groep *@
<form method="post">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column col-8">
            <div class="d-flex row justify-content-between align-items-center" style="padding: 0 15px;">
                <h2>Add Spel</h2>
                <a class="btn btn-primary" asp-area="Stellingen" asp-page="AddStelling" asp-route-klasId="@Model.KlasId">Create Stelling</a>
            </div>

            <div>
                <div class="jumbotron" style="padding: 1rem 2rem;">
                    <h5 style="text-align: center">Stellingen</h5>
                    @* TODO create stellingen *@
                    @*<input type="submit" class="btn btn-primary" asp-page-handler="CreateStelling" asp-route-klasId="@klasId" asp-route-SpelId="@spelId" asp-route-returnUrl="@returnUrl" value="Create New Stelling">*@
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm" style="text-align: center">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Onderwerp</th>
                                <th scope="col">Vraag</th>
                                <th scope="col">Select</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var gb in gebruikerStellingen)
                            {
                                <tr>
                                    <th scope="row">@gb.Stelling.StellingOnderwerp</th>
                                    <td>@gb.Stelling.Vraag</td>
                                    <td>
                                        <div class="checkbox">
                                            @if (gebruikerStellingen.Find(s => s.StellingId == gb.StellingId) != null)
                                            {
                                                <input type="checkbox" name="areChecked" value="@gb.StellingId" checked="@gebruikerStellingen.Single(s => s.StellingId == gb.StellingId).Selected"/>
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="areChecked" value="@gb.StellingId"/>
                                            }
                                        </div>
                                        @* <input type="checkbox" name="areChecked" value="@gb.StellingId"/> *@
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="d-flex flex-row justify-content-center">
                        @* <input type="submit" value="Add Selected" class="btn btn-primary" style="width: 10rem;" asp-page="AddSpel" asp-page-handler="SelectStelling" asp-route-returnUrl="@returnUrl"> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h2>Options</h2>
            <input type="button" style="margin-bottom: 3px" class="btn btn-dark" value="Import Stellingen"/>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Spel Name</span>
                </div>
                <input type="text" class="form-control" asp-for="SettingsInput.Name">
            </div>
            <br>
            <div class="checkbox">
                <label asp-for="SettingsInput.ColorScreenPostAnswer">
                    <input asp-for="SettingsInput.ColorScreenPostAnswer"/>
                    @Html.DisplayNameFor(m => m.SettingsInput.ColorScreenPostAnswer)
                </label>
            </div>
            <div class="checkbox">
                <label asp-for="SettingsInput.AllowArgumentInput">
                    <input asp-for="SettingsInput.AllowArgumentInput"/>
                    @Html.DisplayNameFor(m => m.SettingsInput.AllowArgumentInput)
                </label>
            </div>
            <div class="checkbox">
                <label asp-for="SettingsInput.ExplainDifficultWord">
                    <input asp-for="SettingsInput.ExplainDifficultWord"/>
                    @Html.DisplayNameFor(m => m.SettingsInput.ExplainDifficultWord)
                </label>
            </div>
            <div class="checkbox">
                <label asp-for="SettingsInput.Skip">
                    <input asp-for="SettingsInput.Skip"/>
                    @Html.DisplayNameFor(m => m.SettingsInput.Skip)
                </label>
            </div>
            <br>
            <div class="input-group" style="margin: 2px 0">
                <div class="input-group-prepend">
                    <span class="input-group-text">Status</span>
                </div>
                <select class="custom-select" asp-items="Html.GetEnumSelectList<Status>()" asp-for="SettingsInput.Status">
                </select>
            </div>
            <div class="input-group" style="margin: 2px 0">
                <div class="input-group-prepend">
                    <span class="input-group-text">Kind of Game</span>
                </div>
                <select class="custom-select" asp-for="IsPartijSpel">
                    <option value="true">Partijspel</option>
                    <option value="false">Debatspel</option>
                </select>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center">
        <input style="margin: 2px" type="submit" class="btn btn-primary" asp-page-handler="CreateSpel" asp-route-klasId="@klasId" asp-route-returnUrl="@Model.ReturnUrl" value="Create Spel"/>
        <a style="margin: 2px" class="btn btn-secondary" asp-area="Sessies" asp-page="AddSessie" asp-route-klasId="@klasId">Cancel</a>
    </div>
</form>