﻿@page
@using ST.BL.Domain.InternMediateClasses
@model UI_MVC.Areas.Spellen.Pages.DetailsSpel

@{
    ViewData["Title"] = "Speloverzicht";
}

<h2>Details @Model.Spel.Name</h2>
<p>Created by <b>@Model.Spel.Creator.Voornaam @Model.Spel.Creator.Achternaam</b></p>

<h5>Stellingen</h5>
@foreach (SpelStellingen stelling in @Model.Spel.SpelStellingen)
{
    <p>@stelling.Stelling.Vraag</p>
}
