﻿@page
@model UI_MVC.Areas.Spellen.Pages.ExportCsv

@{
    Layout = "_Layout";
}

<p>Welke stellingen wenst u te exporteren?</p>
<p>Dropdown met alle stellingonderwerpen die bij een gebruiker horen</p>

<form method="post">
    <div class="form-group">
        <label asp-for="StellingOnderwerp">Onderwerp van de stellingen die u wenst te exporten</label>
        <select asp-for="StellingOnderwerp" class="form-control">
            @foreach (var onderwerp in @Model.Onderwerpen)
            {
                <option value="@onderwerp">@onderwerp</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Exporteren"/>
    </div>
</form>