@page
@model UI_MVC.Areas.Spellen.Pages.GetSpel


@{
    ViewData["Title"] = "Spellenoverzicht";
    Layout = "_Layout";
}

@section Scripts
{
    <script type="module" src="~/dist/overview.entry.js" defer></script>
}
<link rel="stylesheet" href="~/dist/overview.css">

<div class="jumbotron">
    <div class="row kaartTop my-3 p-3 bg-white rounded box-shadow verticalalign">
        <div class="col-10">
            <h1 class="ha">Spellen</h1>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-area="Spellen" asp-page="/AddSpel">Nieuw spel Toevoegen</a>
        </div>
    </div>
    
    <div class="btn-group-justified float-left">
        <button class="btn btn-primary" id="checkAlles">Select All</button>
        <button class="btn btn-primary" id="checkNiets">Deselect All</button>
    </div>

    <form method="post">
        <div class="row">
            <div class="col-12 float-right">
                <input type="submit" class="btn btn-danger float-right" value="Verwijderen" asp-page-handler="DeleteSpel"/>
            </div>
        </div>
        
        @foreach (var spel in @Model.Input.DetailsSpel)
        {
            <div class="row my-3 p-3 bg-white rounded box-shadow verticalalign">
                <div class="col-1 text-center">
                    <label class="checkbox path">
                        <input type="checkbox" asp-for="@spel.IsChecked" name="cb" value="@spel.Spel.SpelId">
                        <svg viewBox="0 0 21 21">
                            <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                        </svg>
                    </label>
                </div>
                <div class="col-10">
                    <p class="pe"><strong class="d-block">@spel.Spel.Name (@spel.Spel.SpelStellingen.Count stellingen)</strong> @spel.School, @spel.Eigenaar </p>
                </div>
                <div class="col-1">
                    <a asp-area="Spellen" asp-page="/DetailsSpel" asp-route-spelId="@spel.Spel.SpelId">
                        <svg height="50%" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </div>
            </div>
        }
    </form>
</div>
