﻿@page
@model UI_MVC.Areas.Spellen.Pages.ImportCsv

@{
    Layout = "_Layout";
}

<h3>Upload je .csv file hier!</h3>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-md-10">
            <input type="text" asp-for="Onderwerp" placeholder="Onderwerp"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload je csv bestand hier:</p>
            <input type="file" asp-for="Filee"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload"/>
        </div>
    </div>
</form>

<script>
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>