@page
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Spellen.Pages.SchoolSpel
@{
    ViewData["Title"] = "spellen overzicht";
    Layout = "_Layout";

}

@section Scripts
{
    <script type="module" src="~/dist/overview.entry.js" defer></script>
}

<div class="row">
    <h1>Spellen van uw school</h1>
</div>
<div class="btn-group-justified">
    <a class="btn btn-primary" asp-area="Spellen" asp-page="/AddSpel" asp-route-returnUrl="@Model.ReturnUrl">Toevoegen</a>
    <a class="btn btn-primary" id="checkAlles">Select All</a>
    <a class="btn btn-primary" id="checkNiets">Deselect All</a>
</div>
<form method="post">
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">SpelNaam</th>
                    <th scope="col">Aantal Stellingen</th>
                    <th scope="col">School</th>
                    <th scope="col">Eigenaar</th>
                    <th scope="col">Selecteren</th>
                    <th scope="col">Beheren</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var spel in @Model.Input.DetailsSpel)
                {
                    <tr>
                        <td>@spel.Spel.Name</td>
                        <td>@spel.AantalStellingen</td>
                        <td>@spel.School</td>
                        <td>@spel.Eigenaar</td>
                        <td>
                            <input type="checkbox" asp-for="@spel.IsChecked" name="cb" value="@spel.Spel.SpelId"/>
                        </td>
                         <td> 
                             <a class="btn btn-primary" asp-area="Spellen" asp-page="/EditSpel" asp-route-id="@spel.Spel.SpelId" asp-route-returnUrl="@Model.ReturnUrl">Beheren</a> 
                         </td> 
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Verwijderen" asp-page-handler="DeleteSchool"/>
            </div>
        </div>
    </div>
</form>