﻿@page
@using ST.BL.Domain
@using ST.BL.Domain.Spellen
@model UI_MVC.Areas.Spellen.Pages.StartSpel

@{
    Layout = "_Layout";
    // var spelStellingen = Model.SpelStellingen;
}
<label hidden id="sessieId">@Model.SessieId</label>
<label hidden id="cookie">@Model.Cookie</label>


<div class="jumbotron d-flex flex-column align-self-center justify-content-center align-items-center" style="display: none">
    <div id="spelScreen">
        @foreach (var spelStelling in Model.SpelStellingen)
        {
            if (spelStelling.Status == Status.Open)
            {
                <div class="d-flex flex-column justify-content-center">
                    <label hidden class="stellingId">@spelStelling.StellingId</label>
                    <h2 style="text-align: center">@spelStelling.Stelling.StellingOnderwerp</h2>
                    <h3 style="text-align: center">@spelStelling.Stelling.Vraag</h3>
                    <br>
                    <div class="d-flex flex-row justify-content-center">
                        @foreach (var antwoord in spelStelling.Stelling.PartijAntwoordOpStelling.Select(x => x.Antwoord).Distinct().ToList())
                        {
                            <button type="button" class="btn btn-primary answerButton" id="@spelStelling.StellingId">@antwoord</button>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <hr>
    <div>
        <div class="d-flex flex-column align-items-center">
            @if (Model.Spel is DebatSpel && Model.Spel.options.AllowArgumentInput)
            {
                <input type="text" class="form-control" style="height: 10rem; width: 30rem;" placeholder="Argument" id="answerArgument">
            }
            <br>
            <button class="btn btn-primary" style="width: 10rem;" id="argumentButton">Save</button>
        </div>
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <label hidden id="location">@Model.Location</label>
    <label hidden id="finishGameLocation">@Model.finishGameLocation</label>
      
    <div class="row justify-content-md-center" style="padding: 20px">
        <div class="col-md-auto">
            <button type="button" id="prevQuestion" class="btn-dark btn">Vorige Vraag</button>
        </div>
        <div class="col-md-auto">
            <button type="button" id="testAfsluiten" class="btn-dark btn">Test Afsluiten</button>
        </div>
        <div class="col-md-auto">
            <button type="button" id="nextQuestion" class="btn-dark btn">Volgende Vraag</button>
        </div>
    </div>
}

@section Scripts
{
    <script type="module" src="~/dist/startspel.entry.js" defer></script>
}