﻿@page
@model UI_MVC.Areas.Speel.Pages.Partijspel.Index

<div class="container" style="padding-top: 60px;">
    <h3>Speel het partijspel!</h3>
    <p>Welkom bij het partijspel. De bedoeling van dit spel is om je kennis te toetsen over de verschillende standpunten 
        van de verschillende partijen in ons land. Dit doe je door te denken als een bepaalde partij naar keuze.</p>
    <p>Begin het spel door de sessie van je leerkracht te joinen. Weet je niet hoe dit moet? Geen probleem! Vraag even hulp aan je leerkracht.</p>
    <p>Veel succes!</p>
    
    <a asp-page="./Leerlingstartscherm" class="btn btn-dark">Join sessie!</a>
</div>
