﻿@page
@model UI_MVC.Areas.Speel.Pages.LeerkrachtEindscherm

@{
    ViewData["Title"] = "Resultaten";
    var gemiddelde = 0;
}

<h3>Spel afgelopen! Hier is wat info over het spel:</h3>
<p>Aantal deelnemers: 0</p>
<p>De gemiddelde score: @gemiddelde</p>