﻿@page
@using Microsoft.AspNetCore.Identity
@using ST.BL.Domain.Identity
@using ST.BL.Interfaces
@model UI_MVC.Areas.Speel.Pages.LeerkrachtWachtscherm
@inject IGebruikerManager GebruikerManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Wachtscherm leerkracht";
    Layout = "_Layout";
    var aantalDeelnemers = Model.Sessie.AnoniemeGebruikers.Count;
}

<div>
    <p>Unieke code:<span style="font-size: 150px">@Model.Sessie.UniqueCode</span></p>
    <p>Join deze spelsessie door naar tree-stemtest.be/speel te surfen en daar de unieke code in te voegen!</p>
    
    <h3>Spelsessie voor: @Model.Sessie.Klas.Naam</h3>
    
    <p>Aantal deelnemers: @aantalDeelnemers (Maximum @Model.Sessie.AantalDeelnemers)</p>
    
    <form method="post">
        <input type="hidden" asp-for="SessieId" value="@Model.Sessie.Id"/>
        <input type="submit" value="Beginnen" class="btn btn-dark"/>
    </form>
</div>
