﻿@page
@using ST.BL.Domain
@model UI_MVC.Areas.Speel.Pages.Partijspel.LeerlingWachtscherm

@{
    ViewData["Title"] = "Wachtscherm";
}

<p>GebruikersId: @Model.AnoniemeGebruiker.Id</p>

<div class="container" id="container" style="text-align: center; padding-top: 40px">
    <h3>De Stemtest - @Model.Sessie.Klas.Naam</h3>
    <p>Aantal deelnemers: @Model.Sessie.AantalDeelnemers</p>
    <p>Unieke code: @Model.Sessie.UniqueCode</p>
    
    @if (@Model.Sessie.Status.Equals(Status.Closed))
    {
        <div class="row justify-content-md-center" style="padding: 5px; padding-top:50px">
            <div class="col-md-auto"><h4>Even wachten tot iedereen er is..</h4></div>
        </div>
    }
    @if (@Model.Sessie.Status.Equals(Status.Open))
    {
        <form method="post">
            <input type="hidden" asp-for="GebruikersId" value="@Model.AnoniemeGebruiker.Id"/>
            <input type="submit" class="btn btn-dark" value="Begin"/>
        </form>
        //<a asp-page="./PartijKeuze" asp-route="@Model.AnoniemeGebruiker.GebruikersId" class="btn btn-dark">Begin</a>
    }
</div>