﻿@page
@model UI_MVC.Areas.Speel.Pages.Partijspel.LeerlingStartscherm

@{
    ViewData["Title"] = "Startscherm";
}

<div class="container" style="padding-top: 60px">
    <div class="row justify-content-md-center" style="padding: 10px">
		
        <div class="col-md-auto">
            <h1>Doe de stemtest!</h1>
        </div>
		
    </div>
    <div class="row justify-content-md-center" style="padding: 5px; padding-bottom: 10px">
        <div class="col-md-auto" style="border-bottom: 1px solid black; padding-bottom: 20px">
            <a class="btn btn-dark disabled">Scan QR-code</a>
        </div>
    </div>

    <div class="row justify-content-md-center" style="margin-top: 10px">
        <div class="col-md-auto">
            <form method="post" style="width: 125px" class="form-horizontal">
                <div class="form-group">
                    <input asp-for="UniekeCode" type="text" class="form-control" placeholder="Unieke code">
                </div>
                <button type="submit" class="btn btn-dark btn-lg" style="display: inline">Speel mee</button>
            </form>
        </div>
		
    </div>
    <p class="text-danger">@Model.Foutmelding</p>
    
    <div class="footer fixed-bottom">
        <div class="container text-center">
            <p>Maak en beheer je eigen testen GRATIS op <b>Url website</b></p>
            <p><a href="">Terms &amp; conditions</a></p>
        </div>
    </div>
</div>