﻿@page
@model UI_MVC.Areas.Speel.Pages.Partijspel.PartijKeuze

@{
    ViewData["Title"] = "Kies je partij";
    Layout = "_Layout";
}
<label hidden id="sessieId">@Model.Input.SessieId</label>
<label hidden id="cookie">@Model.Input.Cookie</label>
<label hidden id="location">@Model.Location</label>

<h3>Kies een partij</h3>

<br/>
<form method="post">
    <div class="container">
        <div class="row">
            @foreach (var partij in @Model.Input.Partijen)
            {
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="~/img/@partij.Partij.Logo" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@partij.Partij.Naam</h5>
                            <p class="card-text">@partij.Partij.VolledigeNaam</p>
                            <label hidden id="partijId">@partij.Partij.Id</label>
                            <input type="checkbox" asp-for="@partij.IsChecked" name="cb" value="@partij.Partij.Id">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <input type="submit" class="btn btn-dark" id="keuzePartij" value="Kies partij"/>
</form>

@section Scripts
{
    <script type="module" src="~/dist/partijKeuzeHub.entry.js" defer></script>

}