﻿@page
@using ST.BL.Domain.Users
@model UI_MVC.Areas.Speel.Pages.Partijspel.Resultatenscherm

@{
    ViewData["Title"] = "Resultatenscherm";
    var aantalJuist = 0;
}


<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <p>De stemtest - @Model.Sessie.Klas.Naam</p>
        <h2>Score</h2>
        <p>Je koos partij @Model.AnoniemeGebruiker.Partij.Naam, @aantalJuist/@Model.Sessie.Spel.SpelStellingen.Count stellingen die je beantwoorde zijn correct!</p>

        <table class="table">
            @foreach (var spelStelling in @Model.Sessie.Spel.SpelStellingen)
            {
                <tr>
                    <td>@spelStelling.Stelling.StellingOnderwerp</td>
                    <td>@spelStelling.Stelling.Vraag</td>
                    <td>Jouw antwoord</td>
                    <td>PartijAntwoord</td>
                    <td><button class="btn btn-dark">Bekijk antwoord</button></td>
                </tr>
            }
        </table>
        
        <br/>
        
        <h3 style="text-align: center">Jouw score: @aantalJuist/2 stellingen juist</h3>
    </div>
</div>
