﻿@page
@model UI_MVC.Areas.Speel.Pages.Partijspel.StellingenBekijken

@{
    ViewData["Title"] = "Overzicht antwoorden";
}

<!-- Pagina toont voor elke stelling van het spel het ingegevenantwoord van de gebruiker. 
Ook moet de gebruiker die stelling terug kunnen aanpassen -->

<h3>Keuze partij: <b>@Model.AnoniemeGebruiker.Partij.Naam</b></h3>

@foreach (var userAntwoordOpStelling in @Model.AnoniemeGebruiker.AntwoordenOpStellingen)
{
    <p>@userAntwoordOpStelling.Stelling.StellingOnderwerp</p>
    @if (userAntwoordOpStelling.Antwoord == null)
    {
        <p>Nog geen antwoord ingegeven!</p>
    }
    else
    {
        <p>Je antwoorde: <b>@userAntwoordOpStelling.Antwoord</b></p>
    }

    <form method="post">
        <input type="hidden" asp-for="UserAntwoordId" value="@userAntwoordOpStelling.Id"/>
        <input type="hidden" asp-for="GebruikersId" value="@Model.AnoniemeGebruiker.Id"/>
        <input type="submit" value="Wijzigen" class="btn btn-dark"/>
    </form>
    <hr/>
}

<form asp-page-handler="Result" method="post">
    <input type="hidden" asp-for="GebruikersId" value="@Model.AnoniemeGebruiker.Id"/>
    <input type="submit" value="Resultaten bekijken" class="btn btn-dark"/>
</form>
