﻿@page
@model UI_MVC.Areas.Speel.Pages.StellingTonen

@{
    ViewData["Title"] = "Stelling tonen";
}

<div class="container" style="text-align: center; padding-top: 40px">
    <p>Sessie code: @Model.Sessie.UniqueCode</p>

    <p>@Model.Stelling.StellingOnderwerp</p>
    <h3>@Model.Stelling.Vraag</h3>

    <br/>
    
    <p>Aantal antwoorden ontvangen: @Model.Stelling.UserAntwoordOpStelling.Count</p>
    
    <br/>

    <form method="post">
        <input asp-for="SessieId" type="hidden" value="@Model.Sessie.Id"/>
        <input type="submit" class="btn btn-dark" value="Volgende"/>
    </form>
</div>