﻿@page
@using ST.BL.Domain
@model UI_MVC.Areas.Speel.Pages.Partijspel.StellingInvullen

@{
    ViewData["Title"] = "Stelling";
}

@if (@Model.SpelStellingen.SingleOrDefault(s => s.StellingId.Equals(@Model.CurrentStelling.Id)).Status.Equals(Status.Closed))
{
    <p>Wacht even tot je leerkracht de volgende stelling open zet...</p>
}
else
{
    <div class="container" style="text-align: center; padding-top: 40px">
    <p>@Model.CurrentStelling.StellingOnderwerp</p>
    <h3>@Model.CurrentStelling.Vraag</h3>

    <br/>
    
    <form method="post">
        <input type="hidden" asp-for="Antwoord" value="Eens"/>
        <input type="hidden" value="@Model.UserAntwoordOpStelling.Id" asp-for="UserAntwoordId"/>
        <input type="hidden" value="@Model.AnoniemeGebruiker.Id" asp-for="GebruikersId"/>
        <input type="submit" value="Eens" class="btn btn-dark"/>
    </form>
    
    <form method="post">
            <input type="hidden" asp-for="Antwoord" value="Oneens"/>
            <input type="hidden" value="@Model.UserAntwoordOpStelling.Id" asp-for="UserAntwoordId"/>
            <input type="hidden" value="@Model.AnoniemeGebruiker.Id" asp-for="GebruikersId"/>
            <input type="submit" value="Oneens" class="btn btn-dark"/>
        </form>
    </div>   
}