﻿@page
@model UI_MVC.Areas.Identity.Pages.Account.ResetPasswordConfirmation

@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
