﻿@page
@model UI_MVC.Areas.Identity.Pages.Account.SecretPage
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Secret page access gained!</h2>
    <p>welcome @UserManager.GetUserAsync(User).Result.FirstName</p>

    if (User.IsInRole("Registered"))
    {
        <h2>You gained access to data available only to your role!</h2>
    }
}