﻿@page
@model UI_MVC.Areas.Identity.Pages.Account.SecretHtml
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "_Layout";
}

@if (User.IsInRole("RegisteredUser"))
{
    <h2>Secret page access gained!</h2>
    <p>welcome @UserManager.GetUserAsync(User).Result.FirstName</p>
}
else
{
    <h2>Secret page access DENIED!</h2>  
}