﻿@page
@model UI_MVC.Pages.Index

@using ST.BL.Domain.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@using Ubiety.Dns.Core
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);
}

@section Scripts
{
    <script type="module" src="~/dist/index.entry.js" defer></script>
}
<link rel="stylesheet" href="~/dist/dashboard.css">

<div class="text-center">
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
    @if (!SignInManager.IsSignedIn(User))
    {
        <div style="height: 75vh; position: relative">
            <div style="vertical-align: middle; padding: 100px">
                <h1>StemTest</h1>
                <h5>Heb je een code voor een spel, vul die dan hier in:</h5>
                <form method="post" class="d-flex flex-column align-items-sm-center">
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="validationTooltipUsernamePrepend">Code</span>
                            </div>
                            <input type="text" asp-for="@Model.UniqueCode">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" asp-page-handler="EnterSession">Join</button>
                    </div>
                </form>
            </div>
        </div>
    }

    @*TODO: Page for Teacher *@
    @if (User.IsInRole("RegisteredUser"))
    {
        <h1>Welkom, @user.FirstName</h1>
        <div class="jumbotron row d-flex flex-row justify-content-center">
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/klas.png" class="card-img-top" alt="klas">
                <div class="card-body">
                    <h5 class="card-title">Mijn Klassen</h5>
                    <a class="btn btn-primary" asp-area="Klassen" asp-page="/Klassen">Beheren</a>
                </div>
            </div>
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/library.jpg" class="card-img-top" alt="foto library">
                <div class="card-body">
                    <h5 class="card-title">Testen Library</h5>
                    <a class="btn btn-primary" asp-area="Spellen" asp-page="/Spellen">Beheren</a>
                </div>
            </div>
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/test.jpg" class="card-img-top" alt="foto test">
                <div class="card-body">
                    <h5 class="card-title">Mijn Testen</h5>
                    <a class="btn btn-primary" asp-area="Spellen" asp-page="/GetSpel">Beheren</a>
                </div>
            </div>

        </div>
        <br>
        <a class="btn btn-primary" asp-area="Spellen" asp-page="/AddSpel">Maak een Test!</a>
        <a class="btn btn-primary" asp-area="Spellen" asp-page="/ImportCsv">Import een test!</a>
    }
    @if (User.IsInRole("Admin"))
    {
        <h1>Welcome, @user.FirstName</h1>
        <div class="jumbotron row d-flex flex-row justify-content-center">
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/klas.png" class="card-img-top" alt="foto klas">
                <div class="card-body">
                    <h5 class="card-title">Mijn Klassen</h5>
                    <a class="btn btn-primary" asp-area="Klassen" asp-page="/AdminClasses">Beheren</a>
                </div>
            </div>
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/school.jpg" class="card-img-top" alt="foto school">
                <div class="card-body">
                    <h5 class="card-title">Mijn school</h5>
                    <a class="btn btn-primary" asp-area="Scholen" asp-page="/GetSchool">Beheren</a>
                </div>
            </div>
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/test.jpg" class="card-img-top" alt="foto test">
                <div class="card-body">
                    <h5 class="card-title">Mijn Spellen</h5>
                    <a class="btn btn-primary" asp-area="Spellen" asp-page="/GetSpel">Beheren</a>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary">Create a Test!</button>
    }
    @if (User.IsInRole("SuperAdmin"))
    {
        <div class="jumbotron row d-flex flex-row justify-content-center">
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/school.jpg" class="card-img-top" alt="school"/>
                <div class="card-body align-items-center text-center">
                    <h5 class="card-title">Scholen bekijken</h5>
                    <a class="btn btn-primary" asp-area="Scholen" asp-page="/Scholen">Bekijken</a>
                </div>
            </div>
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/createSchool.jpg" class="card-img-top" alt="school aanmaken"/>
                <div class="card-body align-items-center text-center">
                    <h5 class="card-title">School aanmaken</h5>
                    <a class="btn btn-primary" asp-area="Scholen" asp-page="/AddSchool">Aanmaken</a>
                </div>
            </div>
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/data.jpg" class="card-img-top" alt="grafiek"/>
                <div class="card-body align-items-center text-center">
                    <h5 class="card-title">Data bekijken</h5>
                    <a class="btn btn-primary" asp-area="Dashboard" asp-page="/DataView">Bekijken</a>
                </div>
            </div>
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/partij.jpg" class="card-img-top" alt="partij"/>
                <div class="card-body align-items-center text-center">
                    <h5 class="card-title">Partijen bekijken</h5>
                    <a class="btn btn-primary" asp-area="Partijen" asp-page="/Partijen">Bekijken</a>
                </div>
            </div>
        </div>
    }

</div>