@page
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Gebruikers.Pages.EditGebruiker

@{
    ViewData["Title"] = "Wijzig Gebruiker";
    Layout = "_Layout";
}
@section Scripts
{
    <script type="module" src="~/dist/overview.entry.js" defer></script>
}
<link rel="stylesheet" href="~/dist/overview.css">

<h1 class="ha">@Model.Input.Voornaam @Model.Input.Achternaam Wijzigen</h1>
<div class="row">
    <div class="col-6">
        <div class="align-items-center">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control">
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Voornaam"></label>
                        <input asp-for="Input.Voornaam" class="form-control">
                        <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Achternaam"></label>
                        <input asp-for="Input.Achternaam" class="form-control">
                        <span asp-validation-for="Input.Achternaam" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.School"></label>
                        <input asp-for="Input.School" class="form-control">
                        <span asp-validation-for="Input.School" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary" style="margin: 10px" asp-page-handler="EditGebruiker" asp-route-id="@Model.Input.Id" asp-route-returnUrl="@Model.ReturnUrl">Wijzigen</button>
                    <a class="btn btn-danger" style="margin: 10px" asp-area="Gebruikers" asp-page="/SchoolGebruikers" asp-route-returnUrl="@Model.ReturnUrl" asp-route-schoolId="@Model.Input.SchoolId">Annuleren</a>
                </div>
            </form>
        </div>
    </div>
</div>