﻿@page
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Gebruikers.Pages.Gebruikers


@{
    Layout = "_Layout";
}

@section Scripts
{
    <script type="module" src="~/dist/overview.entry.js" defer></script>
}

<div class="row">
    <h1>Gebruikers</h1>
</div>
<div class="btn-group-justified">
    <a class="btn btn-primary" id="checkAlles">Select All</a>
    <a class="btn btn-primary" id="checkNiets">Deselect All</a>
</div>
<form method="post">
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Voornaam</th>
                    <th scope="col">Achternaam</th>
                    <th scope="col">Email</th>
                    <th scope="col">School</th>
                    <th scope="col">Beheren</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var g in @Model.Input.DetailsLeerkrachten)
                {
                    <tr>
                        <td>@g.Leerkracht.Username</td>
                        <td>@g.Leerkracht.Voornaam</td>
                        <td>@g.Leerkracht.Achternaam</td>
                        <td>@g.Leerkracht.Email</td>
                        <td>@g.Leerkracht.School.Naam</td>
                        <td>
                            <input type="checkbox" asp-for="@g.IsChecked" name="cb" value="@g.Leerkracht.Id"/>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-area="Gebruikers" asp-page="/EditGebruiker" asp-route-returnUrl="@Model.ReturnUrl" asp-route-id="@g.Leerkracht.Id">Beheren</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Verwijderen" asp-page-handler="DeleteAsync"/>
            </div>
        </div>
    </div>
</form>