<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - StemTest</title>
    <link rel="stylesheet" href="~/dist/site.css">
    <script type="module" src="~/dist/site.entry.js" defer></script>
    <script type="module" src="~/dist/debatspelLeerkrachtHub.entry.js" defer></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StemTest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="SuperAdmin" asp-action="Index">SuperAdmin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Speel" asp-page="/Index">Speel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Speel" asp-page="/Debatspel/Leerling/LeerlingSpa">DebatspelLeerling</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Speel" asp-page="/Debatspel/Leerkracht/LeerkrachtSpa" asp-route-id="3">DebatspelLeerkracht</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" model="@Model"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div>
            <div class="row">
                <div class="col-md-3">
                    <partial name="_NavColumn"/>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>