<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" id="wachtscherm" asp-page="LeerkrachtSpelDashboard">Wachtscherm/Info per stelling</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="stellingen" asp-page="LeerkrachtAlleStellingen">Lijst met alle stellingen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="deelnemers" asp-page="">Deelnemers</a>
    </li>
</ul>
