@page
@using ST.BL.Domain
@model UI_MVC.Areas.Speel.Pages.Debatspel.Leerkracht.LeerkrachtSpa

@{
    Layout = "_Layout";
}

@* <h1 id="aantal_leerlingen"></h1> *@

@* <div class="jumbotron" id="leerkrachtStartSessie"> *@
@*     $1$ <div class="d-flex flex-row align-items-center justify-content-around flex-wrap"> #1# *@
@*     $1$     <div class="card" style="width: 14rem; margin: 10px"> #1# *@
@*     $1$         <img class="card-img-top" src="https://via.placeholder.com/150" class="card-img-top" alt="..." style="height: 10rem;"> #1# *@
@*     $1$         <div class="card-body"> #1# *@
@*     $1$             <p class="card-text d-flex justify-content-around" style="margin-bottom: 5px">QR Code</p> #1# *@
@*     $1$         </div> #1# *@
@*     $1$     </div> #1# *@
@* *@
@*     $1$ <div class="card" style="width: 14rem; margin: 10px"> #1# *@
@*     $1$     <img class="card-img-top" src="https://via.placeholder.com/150?text=@Model.UniqueCodeDecode"> #1# *@
@*     $1$     <div class="card-body"> #1# *@
@*     $1$         <p class="card-text d-flex justify-content-center" style="margin-bottom: 5px">Unieke Code</p> #1# *@
@*     $1$     </div> #1# *@
@*     $1$ </div> #1# *@
@* *@
@*     $1$ <div class="card" id="startCard" style="width: 14rem; margin: 10px"> #1# *@
@*     $1$     <img class="card-img-top" src="https://via.placeholder.com/150" class="card-img-top" alt="..." style="height: 10rem;"> #1# *@
@*     $1$     <div class="card-body"> #1# *@
@*     $1$         <p class="card-text d-flex justify-content-around" style="margin-bottom: 5px">test beginnen</p> #1# *@
@*     $1$     </div> #1# *@
@*     $1$ </div> #1# *@
@* </div> *@

@* <div class="row justify-content-md-center" style="padding: 20px"> *@
@*     <div class="col-md-auto"> *@
@*         <input type="submit" value="Terug" class="btn-dark btn"/> *@
@*     </div> *@
@* </div> *@
@Html.Hidden("sessieId", Model.Sessie.Id)
@* </div> *@

<div class="jumbotron d-flex flex-column align-self-center justify-content-center align-items-center" id="leerkrachtStellingenCards" style="display: none">

    @foreach (var spelStelling in Model.SpelStellingen)
    {
        if (spelStelling.Status == Status.Open)
        {
            <div>
                <input type="hidden" value="@spelStelling.Stelling.Id"/>
                <h2>@spelStelling.Stelling.StellingOnderwerp</h2>
                <h3 class="text-center">@spelStelling.Stelling.Vraag</h3>
            </div>
        }
    }
</div>
<div class="row justify-content-md-center" style="padding: 20px">
    <div class="col-md-auto">
        <button type="button" id="testAfsluiten" value="test afsluiten" class="btn-dark btn" data-toggle="modal" data-target="#afsluitenModal">test afsluiten</button>
    </div>
    <div class="col-md-auto">
        <button type="button" id="nextQuestion" class="btn-dark btn">Volgende Vraag</button>
    </div>
</div>



<div class="jumbotron" id="leerkrachtSelecteerStelling" style="display: none">
    <div class="d-flex flex-row align-items-center justify-content-around flex-wrap">
        <div class="row justify-content-md-center" style="margin-top: 50px">
            <div class="col-md-auto">
                <ul>
                    <li id="stellingOnderwerp">StellingOnderwerp: </li>
                    <li id="stellingVraag">StellingVraag: </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center" style="padding: 20px">
        <div class="col-md-auto">
            <input type="submit" id="terug" value="terug" class="btn-dark btn"/>
        </div>
        <div class="col-md-auto">
            <input type="submit" id="leerkrachtKiestStelling" value="activeer stelling" class="btn-dark btn"/>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-dark" id="toonResultaten" type="button" data-toggle="collapse" data-target="#resultaten" aria-expanded="false" aria-controls="resultaten">
                toon resultaten
            </button>
            <div class="collapse" id="resultaten">
                <div class="card card-body">
                    <ul id="ul">
                        <li>
                            <span class="badge badge-pill badge-dark">Eens</span>
                        </li>
                        <li>
                            <span class="badge badge-pill badge-dark">Eens</span>
                        </li>
                        <li>
                            <span class="badge badge-pill badge-dark">Oneens</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <input type="submit" id="toonArgumenten" value="toon argumenten" class="btn-dark btn"/>
        </div>
    </div>
</div>



<div class="modal fade" id="afsluitenModal" tabindex="-1" role="dialog" aria-labelledby="afsluitenModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="afsluitenModalLabel">Bent u zeker?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Hiermee sluit u de sessie
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Terug</button>
                <button type="button" id="resultatenModal" class="btn btn-primary">Resultaten</button>
            </div>
        </div>
    </div>
</div>