﻿@page
@using ST.BL.Domain
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Stellingen.Pages.AddStelling

@{
    Layout = "_Layout";
    var returnUrl = Url.Content(HttpContext.Request.GetEncodedUrl());
    returnUrl = $"~/{returnUrl.Substring(23)}";
}

<br>
<div class="d-flex flex-row justify-content-between align-items-center">
    <h2>Stellingen Overzicht</h2>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
        Create New Stelling
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create New Stelling</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.StellingOnderwerp"></label>
                            <input asp-for="Input.StellingOnderwerp" class="form-control"/>
                            <span asp-validation-for="Input.StellingOnderwerp" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Vraag"></label>
                            <input asp-for="Input.Vraag" class="form-control"/>
                            <span asp-validation-for="Input.Vraag" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Uitleg"></label>
                            <input asp-for="Input.Uitleg" class="form-control" style="height: 10rem;"/>
                            <span asp-validation-for="Input.Uitleg" class="text-danger"></span>
                        </div>
                        <div class="input-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="validationTooltipUsernamePrepend">Status</span>
                                </div>
                                <select class="custom-select" asp-items="Html.GetEnumSelectList<Status>()" asp-for="Input.Status">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" asp-area="Stellingen" asp-page="AddStelling" asp-page-handler="AddStelling" asp-route-spelId="@Model.SpelId" asp-route-klasId="@Model.KlasId">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron" style="padding: 1rem 2rem;">
    <form method="post">
        @* TODO: Add Search bar *@
        @* <form> *@
        @*     <input id="Searchbar-AddSessie-Table-Input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="max-width: 20rem; margin-bottom: 0.5rem;"> *@
        @* </form> *@
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm" style="text-align: center; min-height: 20rem;">
                <thead class="thead-dark">
                <tr>
                    @*TODO: checkbox for deletion *@
                    <th scope="col">Stelling Onderwerp</th>
                    <th scope="col">Vraag</th>
                    <th scope="col">Uitleg</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                @* TODO: Add nothing to display message *@
                @foreach (var spelstelling in Model.GebruikerStellingen)
                {
                    <tr>
                        <th>
                            @spelstelling.Stelling.StellingOnderwerp
                        </th>
                        <td>
                            @spelstelling.Stelling.Vraag
                        </td>
                        @* TODO: popover *@
                        <td>@spelstelling.Stelling.Uitleg</td>
                        <td>
                            <a asp-page="EditStelling" asp-route-stellingId="@spelstelling.StellingId" asp-route-spelId="@Model.SpelId" asp-route-klasId="@Model.KlasId" class="badge badge-pill badge-info">Details</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </form>
</div>
<hr>
<div class="d-flex flex-row justify-content-center">
    <a style="min-width: 10rem;" class="btn btn-primary" asp-area="Spellen" asp-page="AddSpel" asp-route-klasId="@Model.KlasId" asp-route-spelId="@Model.SpelId">Save</a>
</div>
