﻿@page
@model UI_MVC.Areas.Stellingen.Pages.EditStelling

@{
    Layout = "_Layout";
}

<form method="post">
    <h2>Edit Stelling</h2>
    <div>
        <div class="d-flex flex-column">
            <!-- MoeilijkWoord Group -->
            <div>
                <!-- Modal EXPRESS -->
                <div>
                    <h2 style="text-align: center">Moeilijke Woorden</h2>
                    <!-- Button trigger modal -->
                    <button style="float: right; margin-bottom: 3px;" type="button" class="btn btn-success" data-toggle="modal" data-target="#wordModal" id="moeilijkWoordButton">New Word</button>
                    <button style="float: right; display: none" type="submit" class="btn btn-danger" id="moeilijkWoordDeleteButton" asp-page-handler="SelectMoeilijkWoord" asp-route-stellingId="@Model.MWModel.Stelling.Id" asp-route-spelId="@Model.SpelId" asp-route-klasId="@Model.KlasId">Delete</button>

                    <!-- Modal -->
                    <div class="modal fade" id="wordModal" tabindex="-1" role="dialog" aria-labelledby="wordModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="wordModalTitle">Create New Difficult Word</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post">
                                    <div class="modal-body">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="@Model.MWModel.MoeilijkWoord.Woord"></label>
                                            <input asp-for="@Model.MWModel.MoeilijkWoord.Woord" class="form-control"/>
                                            <span asp-validation-for="@Model.MWModel.MoeilijkWoord.Woord" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.MWModel.MoeilijkWoord.Uitleg"></label>
                                            <input asp-for="@Model.MWModel.MoeilijkWoord.Uitleg" class="form-control" style="height: 5rem;"/>
                                            <span asp-validation-for="@Model.MWModel.MoeilijkWoord.Uitleg" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" asp-area="Stellingen" asp-page="EditStelling" asp-page-handler="SaveMoeilijkWoord" asp-route-stellingId="@Model.MWModel.Stelling.Id" asp-route-spelId="@Model.SpelId" asp-route-klasId="@Model.KlasId">Save</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive jumbotron" style="min-height: 20rem;padding: 2rem 4rem;">
                    <table class="table table-striped table-hover table-sm" style="text-align: center;">
                        @* TODO: Nothing to display *@
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Woord</th>
                            <th scope="col">Uitleg</th>
                            <th scope="col">Select</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var mw in Model.MWModel.Stelling.MoeilijkeWoorden)
                        {
                            <tr>
                                <th scope="row" style="min-width: 20rem;">@mw.Woord</th>
                                <td>@mw.Uitleg</td>
                                <td>
                                    <div class="checkbox">
                                        <input type="checkbox" name="areCheckedMW" value="@mw.Id" class="moeilijkwoordClass"/>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Partij Antwoord Group -->
            <div>
                <!-- Modal EXPRESS -->
                <div>
                    <h2 style="text-align: center">Partijen</h2>
                    <!-- Button trigger modal -->
                    <button style="float: right; margin-bottom: 3px;" type="button" class="btn btn-success" data-toggle="modal" data-target="#partijModal" id="partijAntwoordButton">New Answer</button>
                    <button style="float: right; display: none" type="submit" class="btn btn-danger" id="partijAntwoordDeleteButton" asp-page-handler="SelectPartij" asp-route-stellingId="@Model.MWModel.Stelling.Id" asp-route-spelId="@Model.SpelId" asp-route-klasId="@Model.KlasId">Delete</button>

                    <!-- Modal -->
                    <div class="modal fade" id="partijModal" tabindex="-1" role="dialog" aria-labelledby="partijModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="partijModalTitle">Create New Party Answer</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post">
                                    <div class="modal-body">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="input-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="validationTooltipUsernamePrepend">Partij</span>
                                                </div>
                                                <select class="custom-select" name="SelectedPartij" asp-items="@Model.PModel.PartijenSelectList">
                                                </select>
                                            </div>
                                        </div>
                                        @* TODO: Change to custom input field  *@
                                        <div class="input-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="validationTooltipUsernamePrepend2">Antwoord</span>
                                                </div>
                                                <select class="custom-select" asp-for="@Model.PModel.Antwoord">
                                                    <option value="eens">Eens</option>
                                                    <option value="oneens">Oneens</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label asp-for="@Model.PModel.PartijAntwoordOpStelling.Uitleg"></label>
                                            <input asp-for="@Model.PModel.PartijAntwoordOpStelling.Uitleg" class="form-control" style="height: 5rem;"/>
                                            <span asp-validation-for="@Model.PModel.PartijAntwoordOpStelling.Uitleg" class="text-danger"></span>
                                        </div>
                                        @* <div class="d-flex flex-row justify-content-center"> *@
                                        @*     <input type="submit" value="Delete Selected" class="btn btn-danger" style="width: 10rem;" asp-page="AddStelling" asp-page-handler="SelectPartij" asp-route-stellingId="@Model.Stelling.Id" asp-route-returnUrl="@Model.ReturnUrl"> *@
                                        @* </div> *@
                                    </div>
                                    <div class="modal-footer">
                                        @* <button type="submit" class="btn btn-primary" asp-area="Stellingen" asp-page="AddStelling" asp-page-handler="AddStelling" asp-route-spelId="@Model.SpelId">Save</button> *@
                                        <input type="submit" value="Save" class="btn btn-primary" style="width: 10rem;" asp-page-handler="SavePartij" asp-route-stellingId="@Model.PModel.Stelling.Id" asp-route-spelId="@Model.SpelId" asp-route-klasId="@Model.KlasId">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive jumbotron" style="min-height: 20rem;padding: 2rem 4rem;">
                    @* TODO: Nothing to display *@
                    <table class="table table-striped table-hover table-sm" style="text-align: center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Partij</th>
                            <th scope="col">Antwoord</th>
                            <th scope="col">Uitleg</th>
                            <th scope="col">Select</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var pa in Model.PModel.Stelling.PartijAntwoordOpStelling)
                        {
                            <tr>
                                <th scope="row">@pa.Partij.Naam</th>
                                <td>@pa.Antwoord</td>
                                <td>@pa.Uitleg</td>
                                <td>
                                    <div class="checkbox">
                                        <input type="checkbox" name="areCheckedPA" value="@pa.Id" class="pacheckboxClass"/>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <label asp-for="@Model.SpelId" hidden>@Model.SpelId</label>
        <div class="d-flex flex-row justify-content-center">
            <a style="min-width: 10rem;" class="btn btn-secondary" asp-area="Stellingen" asp-page="AddStelling" asp-route-spelId="@Model.SpelId" asp-route-klasId="@Model.KlasId">Return</a>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="module" src="~/dist/checkboxes.entry.js" defer></script>
}