@model UI_MVC.Models.ContactViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact";
}

@section Scripts
{
    <script type="module" src="~/dist/validation.entry.js" defer></script>
}

<h1>@ViewData["Title"]</h1>

<form asp-area="Pages" asp-page="Index">
    <div class="form-group">
        <label asp-for="Subject">Onderwerp</label>
        <input asp-for="Subject" class="form-control"/>
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Message">Uw bericht</label>
        <textarea asp-for="Message" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Verzenden</button>
</form>