﻿@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

@section Scripts
{
    <script type="module" src="~/dist/bootstrap_js.entry.js" defer></script>
}

<h1>@ViewData["Title"]</h1>

<p>Hier bij Team Tree is privacy onze nr.1 prioriteit.</p>
<p><b>Leerlingen</b></p>
<p>Wanneer je als leerling deelneemt aan een spel, worden enkel je antwoorden opgeslagen. D.w.z. dat je niets van je persoonlijke info moet ingeven. Er wordt geen persoonlijke info bijgehouden van leerlingen/studenten. Alle antwoorden worden anoniem opgeslagen.</p> <br/>
<p><b>Leerkrachten</b></p>
<p>Enkel de admins van de school waarbij een leerkracht past, hebben toegang tot de informatie van die leerkracht.</p>
