@page
@model UI_MVC.Areas.Speel.Pages.Debatspel.Leerling.LeerlingSpa

@{
    Layout = "Leerling/_Layout";
}

<div class="container" id="leerlingStart" style="padding-top: 40px">
    <div class="row justify-content-md-center" style="padding: 10px">
        <div class="col-md-auto">
            <h1>Doe de stemtest!</h1>
        </div>
    </div>
    
    <div class="row justify-content-md-center" style="padding: 5px; padding-bottom: 10px">

        <div class="col-md-auto" style="border-bottom: 1px solid black; padding-bottom: 20px">
            <button class="btn btn-dark">Scan QR-code</button>
        </div>
    </div>

    <div class="row justify-content-md-center" style="margin-top: 10px">
        <div class="col-md-auto">
            <input id="uniekeCode" type="text" class="form-control" placeholder="Unieke Code"/>
            <button id="speelMee" class="btn btn-dark btn-lg" style="display: inline">Speel mee</button>
        </div>
    </div>
</div>




<div class="container" id="leerlingWacht" style="text-align: center; padding-top: 40px; display: none">
    <div class="row justify-content-md-center" style="margin-top: 50px">
        <div class="col-md-6 d-flex justify-content-md-center">
            <svg width="300" height="300">
                <circle cx="150" cy="150" r="149" stroke="black" stroke-width="1" fill="white"></circle>
                <text fill="#000000" font-size="18" x="115" y="150" id="aantal_leerlingen">0 deelnemers</text>
            </svg>
        </div>
    </div>

    <div class="row justify-content-md-center" style="padding: 5px; padding-top:50px">
        <div class="col-md-auto">
            <h4>Even wachten tot iedereen er is..</h4>
        </div>
    </div>

    <div class="row justify-content-md-center" style="margin-top: 50px">
        <div class="col-md-auto">
            <button class="btn-dark btn" id="leerlingResultatenKnop" type="submit" style="display:none">Resultaten</button>
        </div>
    </div>
</div>



<div class="container" id="leerlingStelling" style="text-align: center; display: none">
    <div class="row justify-content-md-center" style="padding: 5px; padding-bottom: 10px">
        <div class="col-md-auto">De Stemtest - INF202A</div>
    </div>

    <div class="row justify-content-md-center" style="padding: 10px">
        <div id="wrapper">
            <b id="vraag"></b>
        </div>
    </div>

    <div class="row justify-content-md-center" style="padding: 5px; padding-bottom: 10px">
        <div class="col-md-auto">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button style="width: 80px" type="button" id="eens" value="Eens" class="btn btn-success">Eens</button>
                <button type="button" id="oneens" value="Oneens" class="btn btn-danger">Oneens</button>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-md-center" style="padding: 5px; padding-bottom: 10px">
        <div class="col-md-auto">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" id="overslaan" class="btn btn-dark">Overslaan</button>
                <button style="width: 95px" type="button" id="volgende" class="btn btn-dark">Volgende</button>
            </div>
        </div>
    </div>
</div>

<div class="container" id="leerlingEindResultaat" style="text-align: center; display: none">
    <div class="row justify-content-md-center" style="padding: 5px; padding-bottom: 10px">
        <div class="col-md-auto">
            <b style="font-size: 26px">De Stemtest - Resultaten</b>
        </div>
    </div>
    
    <div class="row justify-content-md-center" style="padding: 20px">
        <div class="col-md-auto">
            <div id="chartPartijen" style="padding: 10px"></div>
        </div>
    </div>

    <div class="row justify-content-md-center" style="padding: 20px">
        <div class="col-md-auto">
            <text>Je komt overeen met volgende partijen</text>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th># Stellingen</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="resultaten">
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row justify-content-md-center" style="padding: 20px">
        <div class="col-md-auto">
            <form method="post">
                <input class="btn-dark btn" type="submit" value="Bekijk de stellingen"/>
            </form>
        </div>
    </div>
</div>
@*--------------------*@

