@page
@model UI_MVC.Areas.Scholen.Pages.AddSchool

@{
    Layout = "_Layout";
    ViewData["Title"] = "School Toevoegen";
}
<link rel="stylesheet" href="~/dist/overview.css">
<h1>School Toevoegen</h1>
<div class="row">
    <div class="col-3 align-self-center">
        <img src="/img/school.jpg" alt="foto school" style="width: 100%;"/>
    </div>
    <div class="col-9">
        <div class="d-flex align-items-center">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Name">Schoolnaam</label>
                        <input asp-for="Input.Name" class="form-control">
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Straatnaam"></label>
                        <input asp-for="Input.Straatnaam" class="form-control">
                        <span asp-validation-for="Input.Straatnaam" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Huisnr"></label>
                        <input asp-for="Input.Huisnr" class="form-control">
                        <span asp-validation-for="Input.Huisnr" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label asp-for="Input.Postcode"></label>
                        <input asp-for="Input.Postcode" class="form-control">
                        <span asp-validation-for="Input.Postcode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Input.Land"></label>
                        <input asp-for="Input.Land" class="form-control">
                        <span asp-validation-for="Input.Land" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <button type="submit" class="btn btn-primary" style="margin: 10px" asp-page-handler="AddSchool">Toevoegen</button>
                    <a class="btn btn-danger" style="margin: 10px" asp-page-handler="Return" asp-route-returnUrl="@Model.ReturnUrl">Annuleren</a>
                </div>
            </form>
        </div>
    </div>
</div>