﻿@page "{id:int}"
@using Microsoft.AspNetCore.Http.Extensions
@using UI_MVC.Areas.Scholen.Pages
@model UI_MVC.Areas.Scholen.Pages.EditSchool

@{
    ViewData["Title"] = "Wijzig School";
    Layout = "_Layout";
}

@section Scripts
{
    <script type="module" src="~/dist/index.entry.js" defer></script>
}

<link rel="stylesheet" href="~/dist/overview.css">
<h1>School Wijzigen</h1>
<div class="row">
    <div class="col-3 align-self-center">
        <img src="/img/school.jpg" alt="foto school" style="width: 100%;"/>
    </div>
    <div class="col-9">
        <div class="d-flex align-items-center">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Name">Schoolnaam</label>
                        <input asp-for="Input.Name" class="form-control">
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Input.Mailcontactpersoon">Email contactpersoon</label>
                        <input asp-for="Input.Mailcontactpersoon" class="form-control">
                        <span asp-validation-for="Input.Mailcontactpersoon" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-9">
                        <label asp-for="Input.Straatnaam">Straatnaam</label>
                        <input asp-for="Input.Straatnaam" class="form-control">
                        <span asp-validation-for="Input.Straatnaam" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="Input.Huisnr">Huisnr</label>
                        <input asp-for="Input.Huisnr" class="form-control">
                        <span asp-validation-for="Input.Huisnr" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3">
                        <label asp-for="Input.Postcode">Postcode</label>
                        <input asp-for="Input.Postcode" class="form-control">
                        <span asp-validation-for="Input.Postcode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-9">
                        <label asp-for="Input.Land">Land</label>
                        <input asp-for="Input.Land" class="form-control">
                        <span asp-validation-for="Input.Land" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <button type="submit" class="btn btn-primary" style="margin: 10px" asp-page-handler="EditSchool" asp-route-id="@Model.Input.Id" asp-route-returnUrl="@Model.ReturnUrl">Wijzigen</button>
                    <a class="btn btn-danger" style="margin: 10px" asp-area="Scholen" asp-page="/GetSchool" asp-route-returnUrl="@Model.ReturnUrl">Annuleren</a>
                </div>
            </form>
        </div>
    </div>
</div>