@page
@inject UserManager<ApplicationUser> UserManager
@model UI_MVC.Areas.Scholen.Pages.GetSchool

@{
    ViewData["Title"] = @Model.Input.School.Naam;
    Layout = "_Layout";
}

@section Scripts
{
    <script type="module" src="~/dist/index.entry.js" defer></script>
}

<link rel="stylesheet" href="~/dist/overview.css">

<div class="row">
    <div class="col-9">
        <h1 class="ha">@Model.Input.School.Naam</h1>
    </div>
    <div class="col-3">
        <p>
            <a class="btn btn-primary" asp-area="Spellen" asp-page="/SchoolSpel" asp-route-returnUrl="@Model.ReturnUrl" asp-route-schoolId="@Model.Input.School.Id">Toon alle spellen</a>
        </p>
        <p>
            <a class="btn btn-primary" asp-area="Sessies" asp-page="/Sessies" asp-route-returnUrl="@Model.ReturnUrl" asp-route-id=@Model.Input.School.Id>Toon alle sessies</a>
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-3 align-self-center">
        <img src="/img/school.jpg" alt="..."/>
    </div>
    <div class="col-9">
        <p class="pe">
            <b>Info & Contact</b>
        </p>
        <p class="pe">Schoolnaam: <b>@Model.Input.School.Naam</b></p>
        <p class="pe">Email contactpersoon: <b>@Model.Input.School.MailContactpersoon</b></p>
        <p class="pe">Adres: <b>@Model.Input.School.Adres.StraatNaam @Model.Input.School.Adres.HuisNr, @Model.Input.School.Adres.Postcode @Model.Input.School.Adres.Land</b></p>
        @if (@Model.Input.AantalKlassen == 1)
        {
            <p class="pe"><b>@Model.Input.AantalKlassen</b> klas @if (User.IsInRole("Admin"))
                                                                 {
                                                                     <a asp-area="Klassen" asp-page="/AdminClasses" asp-route-returnUrl="@Model.ReturnUrl">Bekijk</a>
                                                                 }</p>
        }
        else
        {
            <p class="pe"><b>@Model.Input.AantalKlassen</b> klassen @if (User.IsInRole("Admin"))
                                                                    {
                                                                        <a asp-area="Klassen" asp-page="/AdminClasses" asp-route-returnUrl="@Model.ReturnUrl">Bekijk</a>
                                                                    }</p>
        }
        @if (@Model.Input.AantalGebruikers == 1)
        {
            <p class="pe"><b>@Model.Input.AantalGebruikers</b> gebruiker @if (User.IsInRole("Admin"))
                                                                         {
                                                                             <a asp-area="Gebruikers" asp-page="/SchoolGebruikers" asp-route-returnUrl="@Model.ReturnUrl">Bekijk</a>
                                                                         }</p>
        }
        else
        {
            <p class="pe"><b>@Model.Input.AantalGebruikers</b> gebruikers @if (User.IsInRole("Admin"))
                                                                          {
                                                                              <a asp-area="Gebruikers" asp-page="/SchoolGebruikers" asp-route-returnUrl="@Model.ReturnUrl">Bekijk</a>
                                                                          }</p>
        }
        <p>
            <a class="btn btn-primary" asp-area="Scholen" asp-page="/EditSchool" asp-route-id=@Model.Input.School.Id asp-route-returnUrl="@Model.ReturnUrl">Wijzigen</a> <a class="btn btn-danger" asp-area="Scholen" asp-page="/AddSchool">Reset Password</a>
        </p>
    </div>
</div>