﻿@page
@model UI_MVC.Areas.Resultaten.Pages.ResultatenschermPartijspel

@{
    ViewData["Title"] = "Resultatenscherm Partijspel";
}

<label hidden id="sessieId">@Model.SessieId</label>
<label hidden id="cookie">@Model.CookieVal</label>

<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <p>De stemtest - @Model.Sessie.Klas.Naam</p>
        <h2>Score</h2>
        <p>Je koos partij @Model.AnoniemeGebruiker.Partij.Naam, @Model.Score/@Model.Sessie.Spel.SpelStellingen.Count stellingen die je beantwoorde zijn correct!</p>

        <table class="table" style="border-collapse: collapse">
            <tbody>
            @foreach (var stelling in @Model.StellingModels)
            {
                <tr>
                    <td>
                        @if (stelling.UserAntwoordOpStelling.Antwoord.Equals(stelling.PartijAntwoordOpStelling.Antwoord))
                        {
                            <p class="alert-success">Juist</p>
                        }
                        else
                        {
                            <p class="alert-danger">Fout</p>
                        }
                    </td>
                    <td>@stelling.Stelling.Vraag</td>
                    <td>@stelling.UserAntwoordOpStelling.Antwoord</td>
                    <td>@stelling.PartijAntwoordOpStelling.Antwoord</td>
                    <td><button onclick="toonUitleg(@stelling.Stelling.Id)" class="btn btn-dark">Bekijk antwoord</button></td>
                </tr>
                <tr id="uitlegDiv->@stelling.Stelling.Id" style="display: none">
                    <td colspan="5">@stelling.PartijAntwoordOpStelling.Uitleg</td>
                </tr>
            }
            </tbody>
        </table>
        <br/>
        <h3 style="text-align: center">Jouw score: @Model.Score/@Model.Sessie.Spel.SpelStellingen.Count stellingen juist</h3>
    </div>
</div>

@section Scripts
{
    <script type="module" src="~/dist/resultatenscherm.entry.js" defer></script>
    <script type="module" src="~/dist/resultatenPartijspel.entry.js" defer></script>
    <script type="text/javascript">
    function toonUitleg(id) {
        let x = document.getElementById("uitlegDiv->"+id);
        if (x.style.display === "none") {
            x.style.display = "table-row";
        } else {
            x.style.display = "none";
        }
    }
    </script>
}