﻿@page
@using ST.BL.Domain.Stellingen
@model UI_MVC.Areas.Resultaten.Pages.ResultatenschermDebatspel

@{
    ViewData["Title"] = "Resultatenscherm Debatspel";
    var aantalJuist = 0;
}

@section Scripts
{
    <script type="module" src="~/dist/resultatenDebatspel.entry.js" defer></script>
}

<h2 style="text-align: center">Resultaten Debat Spel</h2>
<div class="table-responsive jumbotron" style="padding: 10px 15px">
    <h5 style="text-align: center">Je komt overeen met de volgende Groepen:</h5>
    <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Partij</th>
            <th scope="col">Percentage</th>
            <th scope="col">#Stellingen</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var antw in Model.UserAntwoorden)
        {
            <tr>
                <td>@antw.Stelling.</td>
                <th>@antw.Stelling.Vraag</th>
                <td>@antw.Antwoord</td>
            </tr>
        }
        </tbody>
    </table>
</div>


@foreach (var score in @Model.PartijScoreModels)
{
    @score.Partij.Naam
    ;
    <br/>
    <p>@score.Score / @Model.Sessie.Spel.SpelStellingen.Count</p>
    <br/>
}


@*<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <p>De stemtest - @Model.Sessie.Klas.Naam</p>
        <h2>Score</h2>
        <p>Je koos partij @Model.AnoniemeGebruiker.Partij.Naam, @aantalJuist/@Model.Sessie.Spel.SpelStellingen.Count stellingen die je beantwoorde zijn correct!</p>

        <table class="table">
            @foreach (var spelStelling in @Model.Sessie.Spel.SpelStellingen)
            {
                <tr>
                    <td>@spelStelling.Stelling.StellingOnderwerp</td>
                    <td>@spelStelling.Stelling.Vraag</td>
                    <td>Jouw antwoord</td>
                    <td>PartijAntwoord</td>
                    <td><button class="btn btn-dark">Bekijk antwoord</button></td>
                </tr>
            }
        </table>
        
        <br/>
        
        <h3 style="text-align: center">Jouw score: @aantalJuist/2 stellingen juist</h3>
    </div>
</div>*@