﻿@page
@using ST.BL.Interfaces
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Klassen.Pages.AddKlass


@{
    Layout = "_Layout";
    var gebruiker = Model.Gebruiker;
    ViewData["Title"] = "Klas Aanmaken";
}
<link rel="stylesheet" href="~/dist/overview.css">
<h1>Nieuwe Klas aanmaken</h1>

<div class="row">
    <div class="col-3 align-self-center">
        <img src="/img/school.jpg" alt="foto school" style="width: 100%;"/>
    </div>
    <div class="col-9">
        <div class="d-flex align-items-center flex-column">
            <h3>@gebruiker.School.Naam</h3>
            <form method="post">
                <div class="form-group" style="width: 20rem">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control">
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.StudentsCount"></label>
                    <input asp-for="Input.StudentsCount" class="form-control">
                    <span asp-validation-for="Input.StudentsCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.SchoolYear"></label>
                    <input asp-for="Input.SchoolYear" class="form-control">
                    <span asp-validation-for="Input.SchoolYear" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row">
                    @* BinnenKlass, heeft een return value nodig om naa vorig scherm te geraken. *@
                    <button type="submit" class="btn btn-primary" style="margin: 10px" asp-page-handler="AddKlass" asp-route-returnUrl="@Model.ReturnUrl">Save Changes</button>
                    @* Verwijziging naar vorige Page *@
                    <a class="btn btn-danger" style="margin: 10px" asp-page="/Klassen" asp-area="Klassen" asp-route-returnUrl="@Model.ReturnUrl">Cancel Changes</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}