@page
@using Microsoft.AspNetCore.Http.Extensions
@inject UserManager<ApplicationUser> UserManager
@model UI_MVC.Areas.Klassen.Pages.AdminClasses

@{
    Layout = "_Layout";
    ViewData["Title"] = "Klassen";
    var classes = Model.Classes;
    var returnUrl = Url.Content(HttpContext.Request.GetEncodedUrl());
    returnUrl = $"~/{returnUrl.Substring(23)}";
}

@if (!User.IsInRole("Admin"))
{
    
    <div class="row">
        <img src="/img/accessdenied.jpg" style="width: 25%" alt="No entrare!"/>
    </div>
    <div class="row">
        <p class="pe">Helaas, u heeft geen toegang tot deze pagina!</p>
    </div>
} else {
<h2>Klassen @Model.School.Naam</h2>

<div class="jumbotron">
    <div class="d-flex flex-row align-items-center justify-content-around flex-wrap">
        @foreach (var c in classes)
        {
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="/img/klas.png" class="card-img-top" alt="foto klas">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center" style="margin-bottom: 5px">@c.klas.Naam</h5>
                    <p class="card-text d-flex justify-content-around" style="margin-bottom: 5px">@c.klas.StudieJaar</p>
                    <div class="row">
                        <p class="col d-flex justify-content-start" style="margin-bottom: 5px">Testen:</p>
                        <p class="col d-flex justify-content-end">x</p>
                    </div>
                    <div class="row">
                        <p class="col d-flex justify-content-start" style="margin-bottom: 5px">Studenten:</p>
                        <p class="col d-flex justify-content-end">@c.klas.AantalLeerlingen</p>
                    </div>
                    <div class="row">
                        <form method="post" style="width: 90%">
                            @* Selecteer Klas en Ga naar ander Page => ReturnPage naar Deze Pagina *@
                            <a class="btn btn-primary col" style="margin: 0.5rem" asp-area="Klassen" asp-page="/SelectedClass" asp-route-klasId="@c.KlasId" asp-route-returnUrl="@returnUrl">Selecteren</a>
                            @* Delete de Gekozen klas en laat deze pagina weer zien - Omdat het een methode oproept, zal null => Deze pagina worden *@
                            <input type="submit" class="btn btn-danger col" style="margin: 0.5rem" value="Verwijderen" asp-page-handler="Delete" asp-route-klasId="@c.KlasId">
                        </form>
                    </div>
                </div>
            </div>
        }
        @* Creeer een nieuw klasse, na creatie Retourneer terug naar deze pagina *@
        <a class="card" style="width: 14rem; margin: 10px;text-decoration: none" type="submit" asp-area="Klassen" asp-page="/AddKlass" asp-route-returnUrl="@Model.ReturnUrl">
            <img src="https://via.placeholder.com/50" class="card-img-top" alt="..." style="height: 10rem;">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center" style="margin-bottom: 5px">nieuweKlas</h5>
                <p class="d-flex justify-content-around" style="font-size: 9rem;margin: 0;">+</p>
            </div>
        </a>
    </div>
</div>
}
