@page
@using Microsoft.AspNetCore.Http.Extensions
@using UI_MVC.Areas.Scholen.Pages
@model UI_MVC.Areas.Klassen.Pages.EditClass

@{
    ViewData["Title"] = "Wijzig klas";
    Layout = "_Layout";
}

<div class="row">
    <div class="d flex align-items-center">
        <h3>Klas Wijzigen</h3>
        <form method="post">
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name">
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AantalLeerlingen"></label>
                <input asp-for="Input.AantalLeerlingen">
                <span asp-validation-for="Input.AantalLeerlingen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.StudieJaar"></label>
                <input asp-for="Input.StudieJaar">
                <span asp-validation-for="Input.StudieJaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.School"></label>
                <input asp-for="Input.School">
                <span asp-validation-for="Input.School" class="text-danger"></span>
            </div>
            <div class="d-flex flex-row">
                <button type="submit" class="btn btn-primary" style="margin: 10px" asp-page-handler="EditClass" asp-route-id="@Model.Input.Id" asp-route-returnUrl="@Model.ReturnUrl">Wijzigen</button>
                <a class="btn btn-danger" style="margin: 10px" asp-page="/AdminClasses" asp-area="Klassen" asp-route-returnUrl="@Model.ReturnUrl" asp-route-schoolId="@Model.Input.SchoolId">Annuleren</a>
            </div>
        </form>
    </div>
</div>