﻿@page
@using Microsoft.EntityFrameworkCore.Infrastructure
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Klassen.Pages.SelectedClass

@{
    Layout = "_Layout";
    var klasId = Model.Klas.Id;

    var returnUrl = Url.Content(HttpContext.Request.GetEncodedUrl());
    returnUrl = $"~/{returnUrl.Substring(23)}";
}
<br>
<h2 style="text-align: center">@Model.Klas.Naam</h2>
<form method="post">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="col-2">
                <h2>Sessies</h2>

            </div>
            <div class="col-10">
                <form>
                    <input id="Searchbar-Sessies-Table-Input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="max-width: 20rem;float: right">
                </form>
            </div>
        </div>

        <div class="input-group flex-column col-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm" id="Searchbar-Sessies-Table">
                    <thead class="thead-dark">
                    <tr style="text-align: center">
                        <th scope="col">Naam</th>
                        <th scope="col">UniqueCode</th>
                        <th scope="col">AantalDeelnemers</th>
                        <th scope="col">Status</th>
                        <th scope="col">Soort Spel</th>
                        <th scope="col">Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Sessies.Count == 0)
                    {
                        <tr style="text-align: center">
                            <th colspan="6">
                                <h3>Nothing to display</h3>
                            </th>
                        </tr>
                    }
                    @foreach (var sessie in Model.Sessies)
                    {
                        <tr style="text-align: center">
                            <th scope="row" style="text-align: left">@sessie.Name</th>
                            <td>@sessie.UniqueCode</td>
                            <td>@sessie.AantalDeelnemers</td>
                            <td>@sessie.Status</td>
                            <td>@sessie.Spel.GetType().ShortDisplayName().Substring(0, sessie.Spel.GetType().ShortDisplayName().Length - 5)</td>
                            <td>
                                @* Verwijziging naar een nieuwe Pagina. Return naar deze pagina nodig *@
                                @* TODO: Fix results page *@
                                <a class="btn btn-sm btn-primary" asp-area="Sessies" asp-page="/SessieInfo" asp-route-klasId="@klasId" asp-route-sessieId="@sessie.Id" asp-route-returnUrl="@returnUrl">Results</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <hr>
        </div>
    </div>
    <hr>
    @* Binnenklasse. Verwijzigt naar een ander klassen. Heeft geen waarde nodig null => zal redirect naar deze pagina maken *@
</form>
<div style="text-align: center">
    <a class="btn btn-primary col" style="margin: 0.5rem;max-width: 15rem;" asp-area="Sessies" asp-page="AddSessie" asp-route-klasId="@klasId" asp-route-returnUrl="@returnUrl">Create New Sessie</a>
</div>


@section Scripts
{
    <script type="module" src="~/dist/tableSearch.entry.js" defer></script>
}