﻿@page
@model UI_MVC.Areas.Dashboard.Pages.DataView

@{
    ViewData["Title"] = "Data";
    Layout = "_Layout";
}

<h2>Data Stemtest</h2>
<div class="jumbotron">
    <div class="d-flex flex-row align-items-center justify-content-around flex-wrap">
        <div class="card" style="width: 14rem; margin: 10px">
            <div class="card-body align-items-center text-center">
                <h5 class="card-title">Aantal gebruikers</h5>
                <p class="card-text">@Model.UserTotaal.AlleGebruikers</p>
            </div>
        </div>
        <div class="card" style="width: 14rem; margin: 10px">
            <div class="card-body align-items-center text-center">
                <h5 class="card-title">Aantal scholen</h5>
                <p class="card-text">@Model.UserTotaal.AlleScholen</p>
            </div>
        </div>
        <div class="card" style="width: 14rem; margin: 10px">
            <div class="card-body align-items-center text-center">
                <h5 class="card-title">Aantal stemtesten</h5>
                <p class="card-text">@Model.UserTotaal.AlleTesten</p>
            </div>
        </div>
    </div>
</div>

