﻿@page
@model UI_MVC.Areas.Dashboard.Pages.SuperAdmin
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}
@section Scripts
{
    <script type="module" src="~/dist/dashboard.entry.js" defer></script>
}
<link rel="stylesheet" href="~/dist/dashboard.css">

<h1>Dashboard</h1>
<div class="jumbotron row d-flex flex-row justify-content-center">
    <div class="card" style="width: 14rem; margin: 10px">
        <img src="/img/school.jpg" class="card-img-top" alt="school"/>
            <div class="card-body align-items-center text-center">
                <h5 class="card-title">Scholen bekijken</h5>
                <a class="btn btn-primary" asp-area="Scholen" asp-page="/Scholen">Bekijken</a>
            </div>
        </div>
    <div class="card" style="width: 14rem; margin: 10px">
        <img src="/img/createSchool.jpg" class="card-img-top" alt="school aanmaken"/>
        <div class="card-body align-items-center text-center">
            <h5 class="card-title">School aanmaken</h5>
            <a class="btn btn-primary" asp-area="Scholen" asp-page="/AddSchool">Aanmaken</a>
        </div>
    </div>
    <div class="card" style="width: 14rem; margin: 10px">
        <img src="/img/data.jpg" class="card-img-top" alt="grafiek"/>
        <div class="card-body align-items-center text-center">
            <h5 class="card-title">Data bekijken</h5>
            <a class="btn btn-primary" asp-area="Dashboard" asp-page="/DataView">Bekijken</a>
        </div>
    </div>
</div>