.jumbotron {
  background-color: #e7eff6;
}

.card {
  background-color: #adcbe3;
}

.card a {
  background-color: #e7eff6;
  color: #2a4d69;
}

.card-title h5 {
  color: #2a4d69;
}

h1 {
  text-align: center;
  color: #2a4d69;
}

nav .navbar-nav li a {
  color: #2a4d69;
}

#foto {
  height: 150px;
  width: 150px;
}
/*# sourceMappingURL=dashboard.css.map */