﻿@page
@model UI_MVC.Areas.Identity.Pages.Account.Manage.DevTools
@using UI_MVC.Areas.Identity.Pages.Account.Manage
@using ST.BL.Interfaces
@using ST.BL.Domain.Users
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationRole> RoleManager
@inject IGebruikerKlassenManager GebruikerKlassenManager
@inject IGebruikerManager GebruikerManager
@inject ISessieManager SessieManager
@inject ISchoolManager SchoolManager
@inject IStellingManager StellingManager

@{
    ViewData["Title"] = "Developer Tools";
    ViewData["ActivePage"] = ManageNavPages.DevTools;
    Layout = "Manage/_ManageLayout";
    var gebruiker = Model.Gebruiker;
    var classes = Model.Classes;
    var stellingen = Model.Stellingen;
    var sessies = Model.Sessies;
    var partijen = Model.Partijen;
}

<partial name="_StatusMessage" for="StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <h4>@ViewData["Title"]</h4>
        <h5>Add Classes to User</h5>
        <form method="post">
            <input type="submit" class="btn btn-primary" value="Add Random Class" asp-page-handler="AddClass">
        </form>
        <br>
        <h5>Add Stelling to User</h5>
        <form method="post">
            <input type="submit" class="btn btn-primary" value="Add Random Stelling" asp-page-handler="AddStelling">
        </form>
        <br>
        <h5>Add Sessions to user</h5>
        <form method="post">
            <input type="submit" class="btn btn-primary" value="Add Random Session" asp-page-handler="AddSession">
        </form>
        <br>
        <form method="post">
            <input type="submit" class="btn btn-primary" value="Add Random Partij" asp-page-handler="AddPartij">
        </form>
    </div>
    <div class="col-md-6">
        <h4>User Information</h4>
        <h5>Classes associated with @gebruiker.Voornaam</h5>

        @foreach (var item in classes)
        {
            <span class="badge badge-pill badge-info">@item.klas.Naam</span>
        }
        <br>
        <h5>Sessies associated with @gebruiker.Voornaam</h5>
        @foreach (var sessie in sessies)
        {
            <span class="badge badge-pill badge-info">@sessie.Name| @sessie.Klas.Naam| @sessie.Spel.Name</span>
        }
        <br>
        <h5>Stellingen associated with @gebruiker.Voornaam</h5>
        @foreach (var item in stellingen)
        {
            <span class="badge badge-pill badge-info">@item.StellingOnderwerp</span>
        }
        <br>
        <h5>Partijen</h5>
        @foreach (var item in partijen)
        {
            <span class="badge badge-pill badge-info">@item.Naam</span>
        }
    </div>
</div>