﻿@page
@using UI_MVC.Areas.Identity.Pages.Account.Manage
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Internal.Account.Manage
@model UI_MVC.Areas.Identity.Pages.Account.Manage.IndexModel

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "Manage/_ManageLayout";
}

@section Scripts
{
    <script type="module" src="~/dist/index.entry.js" defer></script>
    <partial name="_ValidationScriptsPartial"/>
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" disabled/>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>