﻿@page
@using UI_MVC.Areas.Identity.Pages.Account.Manage
@model UI_MVC.Areas.Identity.Pages.Account.Manage.RolesModel
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationRole> RoleManager



@{
    ViewData["Title"] = "Roles";
    ViewData["ActivePage"] = ManageNavPages.Roles;
    Layout = "Manage/_ManageLayout";
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);
}


<div class="row">
    <div class="col-md-6">
        <h4>@ViewData["Title"]</h4>
        <h5>Change current user roles</h5>
        <form method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Roles</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" asp-for="SelectedRole" asp-items="Html.GetEnumSelectList<RolesModel.ERoles>()">
                    <option selected>Choose...</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Role</button>
            <a asp-area="Identity" asp-page="/Account/SecretPage" class="btn btn-secondary btn-sm">Secret Page</a>
            <a asp-area="Identity" asp-page="/Account/SecretHtml" class="btn btn-secondary btn-sm">Secret Html</a>
        </form>
    </div>
    <div class="col-md-6 align-top">
        <h4>Roles currently assigned to @user.FirstName </h4>
        <h6>(Press the role to delete)</h6>
        <form method="post">
            @foreach (var role in roles)
            {
                <input type="submit" class="btn badge-pill btn-primary" asp-for="SelectedForDelete" value="@role"/>
            }
        </form>
    </div>
</div>

