﻿@page
@model UI_MVC.Areas.Partijen.Pages.AddPartij
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Partij toevoegen";
    var user = await UserManager.GetUserAsync(User);
    Layout = "_Layout";
}

@section Scripts
{
    <script type="module" src="~/dist/overview.entry.js" defer></script>
}
<link rel="stylesheet" href="~/dist/overview.css">


@if (!User.IsInRole("SuperAdmin"))
{
    
    <div class="row">
        <img src="/img/accessdenied.jpg" style="width: 25%" alt="No entrare!"/>
    </div>
    <div class="row">
        <p class="pe">Helaas, u heeft geen toegang tot deze pagina!</p>
    </div>
}
else
{
    <div class="row">
        <div class="col-6">
            <div class="align-items-center">
                <form method="post">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="Input.Name">Partijnaam</label>
                            <input asp-for="Input.Name" class="form-control">
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="Input.VolledigeNaam">Volledige naam</label>
                            <input asp-for="Input.VolledigeNaam" class="form-control">
                            <span asp-validation-for="Input.VolledigeNaam" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="Input.Beschrijving">Beschrijving</label>
                            <textarea asp-for="Input.Beschrijving" class="form-control"  rows="3"></textarea>
                            <span asp-validation-for="Input.Beschrijving" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="Input.VisieOmschrijving">Visie omschrijving</label>
                            <textarea asp-for="Input.VisieOmschrijving" class="form-control"  rows="3"></textarea>
                            <span asp-validation-for="Input.VisieOmschrijving" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="Input.Info">Info</label>
                            <textarea asp-for="Input.Info" class="form-control"  rows="3"></textarea>
                            <span asp-validation-for="Input.Info" class="text-danger"></span>
                        </div>
                    </div>
            
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary" style="margin: 10px" asp-page-handler="AddPartij">Toevoegen</button>
                        <a class="btn btn-danger" style="margin: 10px" asp-area="Partijen" asp-page="/Partijen">Annuleren</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
}