﻿@page
@model UI_MVC.Areas.Partijen.Pages.Partijen
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Partijenoverzicht";
    var user = await UserManager.GetUserAsync(User);
    Layout = "_Layout";

}

@section Scripts
{
    <script type="module" src="~/dist/overview.entry.js" defer></script>
}
<link rel="stylesheet" href="~/dist/overview.css">


@if (!User.IsInRole("SuperAdmin"))
{
    
    <div class="row">
        <img src="/img/accessdenied.jpg" style="width: 25%" alt="No entrare!"/>
    </div>
    <div class="row">
        <p class="pe">Helaas, u heeft geen toegang tot deze pagina!</p>
    </div>
}
else
{
    <div class="jumbotron">
        <div class="row kaartTop my-3 p-3 bg-white rounded box-shadow verticalalign">
            <div class="col-10">
                <h1 class="ha">Partijen</h1>
            </div>
            <div class="col-2">
                <a class="btn btn-dark" asp-area="Partijen" asp-page="/AddPartij">Toevoegen</a>
            </div>
        </div>

            @foreach (var partij in @Model.PartijenList)
            {
                <div class="row my-3 p-3 bg-white rounded box-shadow verticalalign">
                    <div class="col-1 text-center">
                        <img src="/img/@partij.Logo"/>
                    </div>
                    <div class="col-10">
                        <p class="pe"><strong class="d-block">@partij.Naam</strong> @partij.VolledigeNaam </p>
                    </div>
                    <div class="col-1">
                        <a asp-area="Partijen" asp-page="/EditPartij" asp-route-id="@partij.Id">
                            <svg height="50%" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            }
    </div>
}