﻿@page
@using Microsoft.EntityFrameworkCore.Infrastructure
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Sessies.Pages.AddSessie

@{
    Layout = "_Layout";
    var klasId = Model.KlasId;

    var returnUrl = Url.Content(HttpContext.Request.GetEncodedUrl());
    returnUrl = $"~/{returnUrl.Substring(23)}";
}

@* TODO: Add Search bar *@
<br>
<div class="d-flex flex-row justify-content-between align-items-center">
    <h2>Add Sessie</h2>
    <a class="btn btn-success" asp-area="Spellen" asp-page="AddSpel" asp-route-klasId="@klasId" asp-route-returnUrl="@returnUrl">Create Spel</a>
</div>

<div>
    <form method="post">
        <div class="jumbotron" style="padding: 1rem 2rem;">
            <form>
                <input id="Searchbar-AddSessie-Table-Input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="max-width: 20rem; margin-bottom: 0.5rem;">
            </form>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm" style="text-align: center" id="Searchbar-AddSessie-Table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Naam</th>
                        <th scope="col">Soort Spel</th>
                        <th scope="col">Options</th>
                        <th scope="col">Stellingen</th>
                        <th scope="col">Status</th>
                        <th scope="col">Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    @* TODO: Add nothing to display message *@
                    @foreach (var ks in Model.KSList)
                    {
                        var spelnaam = ks.Spel.GetType().ShortDisplayName();
                        <tr>
                            <td scope="row"><b>@ks.Spel.Name</b></td>
                            <td>@spelnaam.Substring(0, spelnaam.Length - 5)</td>
                            @* TODO: Options in a dropdown view *@
                            <td>
                                <div>ColorScreen: @ks.Spel.options.ColorScreenPostAnswer</div>
                                <div>
                                    AllowArugment: @ks.Spel.options.AllowArgumentInput
                                </div>
                                <div>
                                    ExplainWord: @ks.Spel.options.ExplainDifficultWord
                                </div>
                                <div>
                                    Skip: @ks.Spel.options.Skip
                                </div>
                            </td>
                            @* TODO: Stellingen in a dropdown view *@
                            <td>
                                @foreach (var i in ks.Spel.SpelStellingen)
                                {
                                    var vraag = "";
                                    vraag = i.Stelling.Vraag.Length > 20 ? i.Stelling.Vraag.Substring(0, 20) : i.Stelling.Vraag;
                                    <div>
                                        @vraag...
                                    </div>
                                }
                            </td>
                            @* TODO: Status color change *@
                            <td>
                                @ks.Spel.Status
                            </td>
                            @* TODO: instead of Selected -> Start Sessie *@
                            <td>
                                <form method="post">
                                    <input style="margin-top: 25px" type="submit" class="btn btn-dark" value="Start Sessie" asp-page-handler="StartSessie" asp-route-klasId="@klasId" asp-route-spelId="@ks.SpelId"/>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
        <script type="module" src="~/dist/tableSearch.entry.js" defer></script>
}
