@page
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Sessies.Pages.SchoolSessies

@{
    Layout = "_Layout";
    var gebruikers = Model.Sessions;

    var returnUrl = Url.Content(HttpContext.Request.GetEncodedUrl());
    returnUrl = $"~/{returnUrl.Substring(23)}";

}

@section Scripts
{
    <script type="module" src="~/dist/overview.entry.js" defer></script>
}

<div class="row">
    <h1>Sessies van @Model.Sessions[1].Creator.School.Naam</h1>
</div>
<div class="btn-group-justified">
    <a class="btn btn-primary" id="checkAlles">Select All</a>
    <a class="btn btn-primary" id="checkNiets">Deselect All</a>
</div>
<form method="post">
    <div class="row">
        <div class="col-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">SessieNaam</th>
                    <th scope="col">Klas</th>
                    <th scope="col">Status</th>
                    <th scope="col">AantalDeelnemers</th>

                    <th scope="col">Beheren</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var g in @Model.Sessions)
                {
                    <tr>
                        <td>@g.Name</td>
                        <td>@g.Klas.Naam</td>
                        <td>@g.Status</td>
                        <td>
                            <input type="checkbox"/>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Verwijderen" asp-page-handler="DeleteSessie" asp-route-returnUrl="@returnUrl"/>
            </div>
        </div>
    </div>
</form>