﻿@page
@model UI_MVC.Areas.Sessies.Pages.SelectedSessie
@using System.Web.Helpers

@{
    Layout = "_layout";
    var stellingen = Model.Stellingen;
    var sessie = Model.Sessie;
}
<br>
<h2>Resultaat {@sessie.Name}</h2>
<p>heeft Spel : @Model.Sessie.Spel.Name
<p>heeft Stellingen: @Model.Stellingen.Count</p>



@foreach (var stelling in stellingen)
{
    var partijantwoordenList = stelling.PartijAntwoordOpStelling.ToList();
    
    <h5>@stelling.StellingOnderwerp</h5>
    foreach (var partijAntwoord in partijantwoordenList)
    {
        var count = stelling.UserAntwoordOpStelling.Count(x => x.Antwoord.ToLower().Equals(partijAntwoord.Antwoord));
        var total = stelling.UserAntwoordOpStelling.Count;
        var percent = ((decimal)count / total).ToString("0.00%");
        <p>[@partijAntwoord.Partij.Naam] had als antwoord (@partijAntwoord.Antwoord), {@percent} had dezelfde antwoord gegeven in deze klas</p>
        <p>@count / @total</p>
    }
}