﻿@page
@using UI_MVC.Areas.Sessies.Pages
@model UI_MVC.Areas.Sessies.Pages.SessieInfo

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sessie "+@Model.Sessie.Id;
}
<input hidden type="text" asp-for="@Model.SessieId" value="@Model.SessieId">
<h2>@Model.Sessie.Name</h2>
<p>Created by: <b>@Model.Sessie.Creator.Voornaam @Model.Sessie.Creator.Achternaam</b></p>
<p><b>@Model.AantalDeelnemers</b> deelnemer(s)</p>
<p><b>@Model.UserAntwoorden.Count</b> antwoorden ingegeven</p>
@* <p>Type spel: <b>@Model.Sessie.Spel.GetType().Name</b></p> *@

<h2>Stellingen</h2>
<table class="table">
    @foreach (SessieInfo.StellingModel stelling in @Model.StellingModels)
    {
        <tr>
            <td>@stelling.Stelling.Vraag</td>
            <td><b>@stelling.AantalEens</b> eens</td>
            <td><b>@stelling.AantalOneens</b> oneens</td>
        </tr>
    }
</table>