﻿@page
@using Microsoft.AspNetCore.Http.Extensions
@model UI_MVC.Areas.Sessies.Pages.Sessies

@{
    Layout = "_Layout";
    var sessies = Model.Sessions;
    var returnUrl = Url.Content(HttpContext.Request.GetEncodedUrl());
    returnUrl = $"~/{returnUrl.Substring(23)}";
}
<br>
<h2>Mijn Sessies</h2>

<div class="jumbotron">
    <div class="d-flex flex-row align-items-center justify-content-around flex-wrap">
        @foreach (var sessie in sessies)
        {
            <div class="card" style="width: 14rem; margin: 10px">
                <img src="https://via.placeholder.com/50" class="card-img-top" alt="..." style="height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center" style="margin-bottom: 5px">@sessie.Name</h5>
                    <p class="card-text d-flex justify-content-around" style="margin-bottom: 5px">@sessie.Klas.Naam</p>
                    <div class="row">
                        <p class="col d-flex justify-content-start" style="margin-bottom: 5px">Status:</p>
                        <p class="col d-flex justify-content-end">@sessie.Status</p>
                    </div>
                    <div class="row">
                        <p class="col d-flex justify-content-start" style="margin-bottom: 5px">Studenten:</p>
                        <p class="col d-flex justify-content-end">@sessie.AantalDeelnemers</p>
                    </div>
                    <div class="row">
                        <form method="post" style="width: 90%">
                            <a class="btn btn-primary col" style="margin: 0.5rem" asp-area="Sessies" asp-page="/SelectedSessie" asp-route-sessieId="@sessie.Id" asp-route-returnUrl="@Request.GetEncodedUrl()">Bekijk Resultaten</a>
                            <input type="submit" class="btn btn-danger col" style="margin: 0.5rem" value="Verwijderen" asp-page-handler="DeleteSessie" asp-page="AddSessie" asp-route-sessieId="@sessie.Id" asp-route-returnUrl="@returnUrl">
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>