﻿@page
@using Microsoft.AspNetCore.WebUtilities
@using System.Text
@model UI_MVC.Areas.Sessies.Pages.StartSessie

@{
    Layout = "_Layout";
}
<input hidden type="text" asp-for="@Model.SessieId" value="@Model.SessieId">
<label hidden id="sessieId">@Model.SessieId</label>
<label hidden id="cookie">@Model.CookieVal</label>


<h2 class="text-center">Sessie ID: @Model.SessieId</h2>
<div class="jumbotron d-flex flex-column">
    <div class="row">
        <div class="col-6 d-flex flex-row justify-content-around align-items-center">
            <h2 style="border: 1px solid #000;padding: 1rem;">CODE: @Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Model.Sessie.UniqueCode))</h2>
        </div>
        <div class="col-6 d-flex flex-row justify-content-around" style="border-left:1px solid #000;height:10rem">
            <img src="@Model.QrImage" alt="" style="height: 150px;width: 150px">
        </div>
    </div>
    <br>
    <div class=" d-flex flex-row align-self-center">
        <h3>
            <span id="studentCount"></span> Student(en) Connected
        </h3>
    </div>

</div>
@if (User.Identity.IsAuthenticated)
{
@*     <button class="btn btn-danger" id="resetUsers">RESET USERS</button> *@
    <label hidden id="location">@Model.Location</label>
    <label hidden id="locationTeacher">@Model.LocationTeacher</label>
    <div class="d-flex flex-row justify-content-center">
        <input type="button" class="btn btn-primary" id="startSpel" value="Start Spel" style="min-width: 15rem;"/>
    </div>
}

@section Scripts
{
    <script type="module" src="~/dist/tryout.entry.js" defer></script>
}